[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/alacritty/catpuccin"]
	path = .config/alacritty/catpuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/ben-hampson/neovim-config
[submodule ".config/tmux/plugins/catppuccin-tmux"]
	path = .config/tmux/plugins/catppuccin-tmux
	url = https://git::@github.com/dreamsofcode-io/catppuccin-tmux
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/plugins/tmux-yank"]
	path = .config/tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
[submodule ".config/oh-my-zsh/plugins/zsh-autosuggestions"]
	path = .config/oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/oh-my-zsh/themes/powerlevel10k"]
	path = .config/oh-my-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "mpv/scripts/mpvacious"]
	path = mpv/scripts/mpvacious
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule ".config/mpv/scripts/mpvacious"]
	path = .config/mpv/scripts/mpvacious
	url = https://github.com/Ajatt-Tools/mpvacious.git
