[submodule ".config/.config/alacritty/catpuccin"]
	path = .config/.config/alacritty/catpuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule ".config/.config/tmux/tmux-sensible"]
	path = .config/.config/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".config/.config/tmux/tmux-yank"]
	path = .config/.config/tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".config/.config/tmux/tpm"]
	path = .config/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/.config/tmux/plugins/vim-tmux-navigator"]
	path = .config/.config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/tmux/plugins/tmux-yank"]
	path = .config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".config/alacritty/catpuccin"]
	path = .config/alacritty/catpuccin
	url = https://github.com/catppuccin/alacritty.git
